@import "./../../variables";

.download-button{
  width: 100%;
  font-size: 18px;
  font-weight: bold;
  color: $sidebarBackground;
  background-color: $buttonColor;
  border: none;
  border-radius: 10px;
  padding: 15px 0;
  cursor: pointer;
  &:disabled{
    cursor: not-allowed;
    background-color: $buttonColorDisabled;
  }
  &:active:not(:disabled){
    position: relative;
    top: 1px;
    left: 1px;
  }
}